@import "../../node_modules/normalize-scss/sass/normalize/import-now";

[hidden]{
  visibility: hidden;
}
$desktop: 1220px;
$tablet: 1030px;
$inputHeight: 50px;
$mobile: 750px;
$smallMobile: 500px;

* {
  box-sizing: border-box;
}

.btn{
  border-radius: 30px;
  background: linear-gradient(91.86deg, #209569 14.46%, #095E3D 99.63%);
  box-shadow: 0px 0px 20px rgba(147, 215, 80, 0.35);
  border: none;
  color: white;
  height: $inputHeight;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .1s linear;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
}
html{
  background-color:#FBF9F9;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  @media screen and (max-width: $tablet){
    font-size: 8px;
  }
}
a, 
a:visited{
  color: inherit;
  text-decoration: none;
}
.body-wrapper{
  max-width: $desktop;
  padding: 15px 0px;
  margin: 0 auto;
  height: 100vh;
  background: #FBF9F9;
  color: rgba(105, 111, 121, 1);
  display: flex;
  position: relative;
}

.menu-panel{
  position: relative;
  flex-basis: 22%;
  height: 100%;
  padding-left: 10px;
  @media screen and (max-width: $mobile) {
    position: fixed;
    transform: translateX(-100% );
    transition: all .3s ease-in;
    background-color: #95aea4;
    z-index: 1;
  }
}
.menu-panel_active{
  transform:translateX(0);
}
.menu__burger-menu{
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  border: rgba(147, 215, 80, 0.35) 1px solid;
  top: 10px;
  right: -15px;
  background: linear-gradient(91.86deg, #209569 14.46%, #095E3D 99.63%);
  transform: translateX(100%);
  padding: 15px 10px;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: $mobile) {
    display: flex;
  }
}
.menu__burger-line{
  width: 100%;
  height: 2px;
  background-color: #3ba014;
}
.menu__logo{
  background: url("../assets/img/index.png");
  background-size: cover;
  background-position: center ;
  width: 100%;
  aspect-ratio: 557/152;
  min-width: 140px;
  margin-bottom: 29px;
}
.menu__item{
  list-style: none;
  display: inline-block;
  font-size: 3rem;  
  padding-bottom: 10px;
  color: #000;
}
.menu__item_current{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.menu__link:hover{
  color:#019A75;
}

.menu__nav{
  width: 100%;

}
.menu__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul{
  margin: 0;
  padding: 0;
}

.game-panel{
  flex-basis: 78%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $mobile) {
    flex-basis: 100%;
  }
}
.quiz-addons{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  @media screen and (max-width: $mobile) {
    padding-left: 75px;
  }
}
.quiz-addons__birds-library{
  background: #FFFFFF;
  box-shadow: 0px 15px 40px 5px #EDEDED;
  border-radius: 30px;
  width: 39%;
  height: $inputHeight;
  border: 0;
}
.quiz-addons__language{
  width: 30%;
}
.quiz-addons__score{
  font-size: 1.6rem;
}
.quiz{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 15px;
  padding: 15px;
  background: #FFFFFF;;
  box-shadow: 0px 15px 40px 5px #EDEDED;
  border-radius: 30px;
  justify-content: space-around;  
  @media screen and (max-width: $smallMobile) {
    margin: 10px 10px;
  }
}
.quiz__bird-types{
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: space-between;
}
.quiz__bird-type{
  text-align: center;
  font-size: 1.6rem;
  padding: 5px 0;
  transition: opacity 1s linear;
  color: #000000;
  opacity: .5;
  @media screen and (max-width: $tablet) {
    width: inherit;
  }
  @media screen and (max-width: $smallMobile) {
    display: none;
    font-size: 2rem ;
  }
}
.quiz__bird-type_current{
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: #019A75;
  text-underline-offset: 5px;
  @media screen and (max-width: $smallMobile) {
    display: block;
  }
}
@keyframes bgMovement {
  0% {background-position: 0px};
  100% {background-position: 200px}
}
.description__audio,
.audio{
  display: flex;
  gap: 36px;
  align-items: center;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: 2px;
  }
}
.audio__bird-pic.description__bird-pic{
  width: 25%;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
.audio__bird-pic{
  display: block;
  width: 20%;
  aspect-ratio: 9/7;
  border-radius: 10px;
  object-fit: cover;
  @media screen and (max-width: $mobile) {
    max-width: 164px;
    width: 35%;
  }
}
.audio__player{
  flex-grow: 1;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.audio__name-volume-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.audio__volume{
  display: flex;
  @media screen and (max-width: $smallMobile) {
   flex-direction: row-reverse; 
   position: absolute;
   right: 0;
   &:hover .audio__volume-block{
      width: auto;
    }
  }
}
.audio__volume-block{
  position: relative;
  transition: width 0.5s linear;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  @media screen and (max-width: $smallMobile) {
   width: 0;
  }
}

.audio__volume-bar{
  width: 80px;
  height: 4px;
  background-color: #07b68a;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translate(0px, -50%);
  overflow-x: hidden;
}
.audio__volume-current{
  height: 100%;
  width: 100%;
  background-color: #095E3D;
}
.audio__volume-icon{
  background-image: url('../assets/img/volume.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;  
  background-size: cover;
  @media screen and (max-width: $smallMobile) {
    margin-right: 0px;
    margin-left: 10px;
  }
}
.audio__bird-name{
  font-size: 2.3rem;

}
.audio__deliner{
  width: 100%;
  height: 1px;
  background-color: #8692A6;
  margin: 10px 0;
}
.audio__loading{
  font-size: 1.5rem;
  position: absolute;
}
.audio__controls{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.audio__play-pause{
  cursor: pointer;
  aspect-ratio: 1;
  flex-basis: 9%;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../assets/img/play.svg');
}
.audio__play-pause:hover{
  opacity: 1;
}
.audio__play-pause_pause  {
  background-image: url('../assets/img/pause.svg');
}
.audio__track{
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #acb4c4;
  position: relative;
}
.audio__play-time{
  height: 100%;
  width: 0;
  border-radius: 4px;
  background-color: #747f91;
}
.audio__time{
  margin-top: 5px;
}
.audio__current-time{
  display: inline-block;
  width: 27px;
}
.description__disclaimer{
  font-size: 2rem;
}
.invisible{
  visibility: hidden;
}
.block-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.8rem;
}
.quiz__answers{
  display: flex;
  gap: 2rem;
  margin-bottom: 5px;
}
.answers-block{
  flex-basis: 30%;
}
.description-block{
  flex-basis: 70%;
}
.answers{
  height: 350px;
  box-shadow: 0px 15px 40px 5px #EDEDED;
  border-radius: 30px;
  padding: 0px 1rem;
  @media screen and (max-width: $mobile) {
    height: 300px;
    border-radius: 20px;
  }  
}
li{
  list-style: none;
}
.answers__item{
  height: calc(100% / 6);
  padding-left: 1.3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  @media screen and (max-width: $smallMobile) {
    padding-left: 0;
  }
}
.answer__color{
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  background-color: #8692A6;
  vertical-align: middle;
}
.answer__color_wrong{
  background-color: rgb(214, 24, 24);
}
.answer__color_right{
  background-color: #019A75;
}
.answers__answer{
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  @media screen and (max-width: $smallMobile) {
    font-weight: 400;
  }
}
.answers__answer::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -3px;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: linear-gradient(91.86deg, #209569 14.46%, #095E3D 99.63%);
  transition: width .5s ease 0s, right .5s ease 0s;
  width: 0;
}
.answers__answer:hover::after{
  width: 100%;
  right:auto
}
.description__text{
  font-size: 1.6rem;
  margin-top: 20px;
  font-weight: 300;
  
}
.quiz__next-level{
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
}
.btn.quiz__next-level_blocked{
  box-shadow: 0px 0px 20px rgba(182, 190, 173, 0.35);
  background: linear-gradient(91.86deg, #919493 14.46%, #69887c 99.63%);
  cursor: alias;  
}
.btn.quiz__next-level_blocked:hover{
  transform: scale(1);
}
